# You can generate the JWT_SECRET in jwtsecrets.com
export JWT_SECRET=[your_jwt_secret]
export POSTGRES_USER=[your_postgres_user]
export POSTGRES_PASSWORD=[your_postgres_password]
export POSTGRES_DB=[your_db_name]
