# You can generate the JWT_SECRET in jwtsecrets.com
JWT_SECRET=[your_jwt_secret]
POSTGRES_USER=[your_postgres_user]
POSTGRES_PASSWORD=[your_postgres_password]
POSTGRES_DB=[your_db_name]
RABBITMQ_URL=[your_rabbitmq_url]
RABBITMQ_USER=[your_rabbitmq_user]
RABBITMQ_PASSWORD=[your_rabbit_mq_password]
